.custom-btn {
    width: 180px;
    height: 40px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.6);
    border: none;
    outline: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 1px solid #fff;
    border-radius: 8px;
}

.button-span {
    color: #fff;
    z-index: 1;
    font-weight: 100;
}

.border {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: gold;
    stroke-width: 1;
}

.bg-line {
    stroke-dasharray: 180 540;
    stroke-dashoffset: 180;
    transition: stroke-dashoffset 0.8s ease-in-out;
}

.hl-line {
    stroke-dasharray: 180 540;
    stroke-dashoffset: 180;
    transition: stroke-dashoffset 0.8s ease-in-out;
}

.custom-btn:hover .bg-line,
.custom-btn:hover .hl-line {
    stroke-dashoffset: -540;
}

.custom-btn:hover {
    background: transparent;
}

@media screen and (max-width: 1024px) {
    .button-set {
        flex-direction: row;
    }
}

@media screen and (max-width: 480px) {
    .button-set {
        flex-direction: column;
    }
}