#intro {
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    top: 10vh;
}

.backgroundImg {
    position: absolute;
    top: 0rem;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 90vh;
}

.intro-content {
    height: 80vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.button-set {
    display: flex;
    gap: 8px;
    margin-top: 20px;
}

.intro-button {
    padding: 8px 12px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 8px;
    cursor: pointer;
}

.hello {
    font-size: 1.75rem;
    font-weight: 100;
}

.intro-name {
    color: yellow;
}

.intro-para {
    font-size: medium;
    font-weight: 100;
}

@media screen and (max-width: 1024px) {
    .backgroundImg {
        right: 0vw;
        height: 90vh;
        top: 0rem;
    }

    .intro-content {
        font-size: 5vw !important;
        height: 90vh
    }

    .hello {
        font-size: 4.5vw;
    }
}

@media screen and (max-width: 840px) {
    .backgroundImg {
        right: 0vw;
        height: 90vh
    }

    .intro-content {
        font-size: 5vw !important;
        height: 85vh
    }

    .hello {
        font-size: 4.5vw;
    }

    .intro-para {
        background: rgba(0, 0, 0, 0.6);
        padding: 10px;
        width: 80vh;
    }
}

@media screen and (max-width: 720px) {
    .intro-para {
        background: rgba(0, 0, 0, 0.6);
        padding: 10px;
        width: 75vh;
    }
}

@media screen and (max-width: 480px) {
    #intro {
        height: calc(100vh - 4rem);
    }

    .backgroundImg {
        right: -20vw;
        height: 95vh !important;
    }

    .intro-content {
        font-size: 9vw !important;
        height: 108vh !important;
    }

    .intro-para {
        background: rgba(0, 0, 0, 0.6);
        padding: 10px;
        width: 50vh;
    }
}