#experience {
    height: calc(100vh - 4rem);
    width: 55vw;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    top: 10vh;
    align-content: center;
}

.experience-content {
    padding: 20px;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    gap: 8vh;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    color: white;
    border-radius: 10px;
    margin: auto;
}

.exp-ul {
    list-style-type: none;
    border-left: 1px solid grey;
    height: fit-content;
    padding: 0;
    margin: 0;
    margin-right: 20px;
}

.exp-item {
    text-align: left;
    font-size: 1rem;
    padding: 10px;
    cursor: pointer;
    width: 34vh;
    color: #8892B0;
    transition: color 0.3s;
}

.exp-item:hover {
    color: yellow;
    border-left: 2px solid yellow;
    width: 34vh;
}

.exp-side-content {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto auto;
    gap: 20px;
}


.company-info {
    flex-grow: 1;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.company-title {
    font-size: 16px;
}

.company-dates {
    font-size: 12px;
}

.company-info .exp-content {
    list-style-type: none;
    padding: 0;
}

.company-info .exp-content .company-item {
    font-size: 16px;
    padding: 5px 0;
    color: #8892B0;
}

.company-item {
    font-weight: 400;
}

.exp-ul .exp-item {
    font-size: 16px;
    padding: 10px 0;
    padding-left: 20px;
    cursor: pointer;
    color: #8892B0;
    transition: color 0.3s;
}

.exp-ul .exp-item:hover {
    color: yellow;
}



.company-title {
    font-size: 16px;
}

.company-dates {
    font-size: 12px;
}

.company-info .exp-content {
    list-style-type: none;
    padding: 0;
}

@media screen and (max-width: 840px) {
    #experience {
        width: 85vw;
    }

    .exp-item {
        width: 20vh;
    }
}


@media screen and (max-width: 480px) {
    .intro-content {
        height: 55vh;
    }

    .backgroundImg {
        height: 55vh;
    }
}